<!-- <div class="container-fluid">
    <div class="row profile">
        <div class="col-lg-3 col-md-3 offset-lg-1 offset-md-1 col-sm-12 profile-image-wrapper">
            <div>
                <img src="./image/profile_image0.jpg" alt="profile-image" class="profile-image" />
            </div>
        </div>
        <div class="col-lg-5 col-md-5 offset-md-2 col-sm-12 name-wrapper">
            <div class="jumbotron jumbotron-fluid">
                <h1 class="display-4">Mimanshu Maheshwari</h1>
                <p class="lead">
                    <strong> Specialist Programmer </strong><br />
                    <small>Infosys Limited</small>
                </p>
                <p>
                    Full-Stack Developer with 4 years of experience building scalable applications and delivering
                    seamless user experiences. Proficient in back-end development using Rust and Java Spring, and
                    front-end technologies like Angular. Skilled in designing micro-services, implementing REST APIs,
                    and managing cloud-based deployments. Experienced in integrating Generative AI solutions to enhance
                    functionality and drive innovation in product-focused environments.
                </p>
            </div>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <mat-card class="name-card" appearance="outlined">
                <mat-card-header>
                    <mat-card-title>Mimanshu Maheshwari</mat-card-title>
                    <mat-card-subtitle>Full Stack Developer</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="./image/profile_image2.jpg" alt="Not a Photo of a Shiba Inu">

            </mat-card>
        </div>
        <div class="col-lg-6 col-sm-12">
            <mat-card class="detail-card" appearance="outlined">
                <mat-card-header>
                    <div mat-card-avatar class="name-header-image"> </div>
                    <mat-card-title>$ whoami</mat-card-title>
                    <mat-card-subtitle>
                        404 - Not Found
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p class="detail-content">
                        Full-Stack Developer with 4 years of experience building scalable applications and delivering
                        seamless user experiences. Proficient in back-end development using Rust and Java Spring, and
                        front-end technologies like Angular. Skilled in designing micro-services, implementing REST
                        APIs, and managing cloud-based deployments. Experienced in integrating Generative AI solutions
                        to enhance functionality and drive innovation in product-focused environments.
                    </p>
                </mat-card-content>
                <mat-card-footer class="detail-card-footer">
                    <mat-chip-set aria-label="Chihuahua traits">
                        <mat-chip>#fullstack-developer</mat-chip>
                        <mat-chip>#generative-ai-enthusiast</mat-chip>
                        <mat-chip>#rustacean</mat-chip>
                    </mat-chip-set>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</div>