div.profile-image-wrapper {
    display: flex;
    justify-content: center;

    div {
        min-width: 25em;
        min-height: 25em;
        border-radius: 50%;
        overflow: hidden;
        border: 3px solid #007bff;
        box-sizing: border-box;
        position: relative;

        img.profile-image {
            width: 100%;
            height: auto;
            object-fit: cover;
            position: absolute;
            // transform: translate(0px, 17px) scale(0.5);
            transform: translate(-10px, 0px) scale(1.3);
        }
    }
}

div.name-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-card {
    height: 85vh;
}

.name-card {
    height: 85vh;

    img {
        object-fit: cover;
        overflow: hidden;
        border-radius: inherit;
        margin: 1em;
    }
}

.name-header-image {
    // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-image: url('/image/profile_image2.jpg');
    background-size: cover;
}

.detail-content {
    font-size: x-large;
}

.detail-card-footer {
    padding: 1.5em;
}

// mat-card mat-card-image {
//     object-fit: cover;
//     max-width: 100%;
//     height: auto;
// }

// mat-card img.mat-card-image {
//     object-fit: cover;
//     max-width: 100%;
//     height: auto;
//     border-radius: 4px;
// }

// mat-card.name-card {
//     max-height: 80vh;
//     overflow: hidden;
// }

#dynamic-text {
    border-right: 2px solid #00FF00;
    padding-right: 5px;
    animation: blink-caret 0.7s step-end infinite;
    color: #00FF00;
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #00FF00;
    }
}