<nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav" [ngClass]="{ 'dark-mode': isDarkMode }">
    <!-- Brand name or logo -->
    <a class="navbar-brand " href="">
        <!-- <img src="./image/profie_image.jpg" alt="Logo" class="brand-logo" /> -->
        <span title="Avid Vivarta">AV</span>
    </a>

    <!-- Right side: Theme toggle and social links -->
    <div class="d-flex align-items-center ms-auto">
        <!--    <mat-slide-toggle [checked]="isDarkMode" labelPosition="before" (change)="toggleTheme()" #darkModeSwitch>
                <mat-icon>{{ isDarkMode ? 'brightness_2' : 'wb_sunny' }}</mat-icon>
            </mat-slide-toggle> -->
        <!-- <a href="https://github.com/mimanshu-maheshwari" target="_blank"
                    class="btn btn-outline-light github-btn btn-light">
                    <i class="bi bi-github"></i> GitHub
                </a> -->
    </div>
    <!-- Hamburger Menu for small screens -->
    <button class="navbar-toggler ml-auto" type="button" (click)="isCollapsed = !isCollapsed" aria-controls="navbarNav"
        aria-expanded="!isCollapsed" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links, collapses on smaller screens -->
    <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse ml-auto" id="navbarNav">
        <ul class="navbar-nav me-auto">
            <!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLinkActive="router-link-active"
                        routerLink="#home" href="#home">Home</a>
                </li> -->
            <li class="nav-item">
                <a class="nav-link" routerLink="#about" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="#projects" href="#projects">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="#leetcode" href="#leetcode">Leetcode</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="#publications" href="#publications">Publications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="#contact" href="#contact">Contact</a>
            </li>
        </ul>
    </div>

</nav>