<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col">
      @if (profile) {
      <div class="profile-container">
        @if (profile.userAvatar) {
        <img [src]="profile.userAvatar" alt="User Avatar" class="profile-avatar">
        }
        @if (profile.realName) {
        <h2>{{ profile.realName }}</h2>
        }
        @if (profile.ranking) {
        <p>Ranking: {{ profile.ranking }}</p>
        }
        @if (profile.countryName) {
        <p>Country: {{ profile.countryName }}</p>
        }
      </div>
      }
    </div>
    <div class="col" style="max-height: 30em; overflow: auto;">

      @if (tagProblemCounts) {
      @if (tagProblemCounts.fundamental.length) {
      <h3>Fundamental Concepts</h3>
      <mat-chip-set aria-label="fundamental">
        @for (fundamental of tagProblemCounts.fundamental; track $index) {
        <mat-chip>
          <a [href]="'https://leetcode.com/problem-list/' + fundamental.tagSlug" target="_blank">
            {{fundamental.tagName}} X {{fundamental.problemsSolved}}
          </a>
        </mat-chip>
        }
      </mat-chip-set>
      }
      <hr>

      @if (tagProblemCounts.intermediate.length) {
      <h3>Intermediate Concepts</h3>
      <mat-chip-set aria-label="intermediate">
        @for (interm of tagProblemCounts.intermediate; track $index) {
        <mat-chip>
          <a [href]="'https://leetcode.com/problem-list/' + interm.tagSlug" target="_blank">
            {{interm.tagName}} X {{interm.problemsSolved}}
          </a>
        </mat-chip>
        }
      </mat-chip-set>
      }
      <hr>
      @if (tagProblemCounts.advanced.length) {
      <h3>Advanced Concepts</h3>
      <mat-chip-set aria-label="Advanced">
        @for (adv of tagProblemCounts.advanced; track $index) {
        <mat-chip>
          <a [href]="'https://leetcode.com/problem-list/' + adv.tagSlug" target="_blank">
            {{adv.tagName}} X {{adv.problemsSolved}}
          </a>
        </mat-chip>
        }
      </mat-chip-set>
      }
      }
    </div>
  </div>
</div>