.profile-container {
  text-align: center;
  padding: 20px;
}

.profile-avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.submission-card {
  flex: 0 0 auto;
  width: 100%;
}

a {
  color: var(--mdc-chip-label-text-color, var(--mat-sys-on-surface-variant));
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

.repo-cards {
  max-height: 25em;
  overflow: auto;
}
