mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 20em;
}

main {
  padding: 1em;
  height: 90vh;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}