<mat-toolbar color="primary">
  <div class="d-md-none d-lg-none d-xxxl-none d-xxl-none d-xl-none">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>Menu</mat-icon>
    </button>
  </div>
  <div class="ms-auto d-none d-sm-none d-lg-flex d-md-flex d-xl-flex d-xxl-flex">
    <ul ngbNav [activeId]="route.fragment | async" class="navigation-items nav-tabs">
      @for (link of links; track link) {
      <li class="text-center nav-item" [ngbNavItem]="link.fragment">
        <a class="d-flex align-items-center gap-2 nav-link" ngbNavLink [routerLink]="link.link">
          <mat-icon aria-hidden="false" aria-label="icon" [fontIcon]="link.icon || ''" />
          {{ link.title }}
        </a>
      </li>
      }
    </ul>
  </div>
  <div class="ms-auto">
    <div class="theme-selector">
      <mat-slider discrete="false" tickInterval="1" min="0" max="2" step="1">
        <input (valueChange)="onThemeChange($event)" [value]="this.themeService.currentTheme" matSliderThumb />
      </mat-slider>
      <div class="theme-labels">
        <mat-icon title="Dark" [style.color]="themeService.currentTheme === 0 ? 'magenta': ''">dark_mode</mat-icon>
        <mat-icon title="System Default"
          [style.color]="themeService.currentTheme === 1 ? 'gray': ''">settings_system_daydream</mat-icon>
        <mat-icon title="Light" [style.color]="themeService.currentTheme === 2 ? 'wheat': ''">light_mode</mat-icon>
      </div>
    </div>
  </div>
</mat-toolbar>