a {
  text-decoration: none;
  color: var(--mat-sys-on-surface);

  .publication-card {
    max-height: 80vh;

    img {
      overflow: hidden;
      object-fit: cover;
      margin: 1em;
      border-radius: inherit;
    }

  }

}
