<div class="container-fluid">
    <div class="row profile">
        <div class="col-lg-3 col-md-3 offset-lg-1 offset-md-1 col-sm-12 profile-image-wrapper">
            <div>
                <img src="image/profile_image0.jpg" alt="profile-image" class="profile-image" />
            </div>
        </div>
        <div class="col-lg-5 col-md-5 offset-md-2 col-sm-12 name-wrapper">
            <div class="jumbotron jumbotron-fluid">
                <h1 class="display-4">Mimanshu Maheshwari</h1>
                <p class="lead">
                    <strong> Specialist Programmer </strong><br />
                    <small>Infosys Limited</small>
                </p>
            </div>
        </div>
    </div>
</div>