<mat-tab-group dynamicHeight class="w-100">
    <mat-tab label="Profile">
        <div class="">
            <app-user-profile [profile]="profile" />
        </div>
    </mat-tab>
    <mat-tab label="Stats">
        <div class="">
            <app-user-statistics [stats]="stats" />
        </div>
    </mat-tab>
    <mat-tab label="Submissions">
        <div style="margin-top: 1em;">
            <app-submissions [recent-submissions]="recentSubmissions" class="submissions" />
        </div>
    </mat-tab>
</mat-tab-group>