<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-3">
            <app-user-profile [profile]="profile" />
        </div>
        <div class="col-sm-12 col-md-9 col-lg-9">
            <ngb-carousel>
                <ng-template ngbSlide>
                    <app-user-statistics [stats]="stats" />
                </ng-template>
                <ng-template ngbSlide>
                    <app-heatmap [submissionCalendar]="calendarData" />
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</div>